<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>KMS</title>
	<link rel="stylesheet" src="{{asset('bundles/kms/css/bootstrap.min.css')}}" />
</head>
<body>
<span class="glyphicon glyphicon-user"></span>
	<script type="text/javascript" href="{{asset('bundles/kms/js/bootstrap.min.js')}}"></script>

</body>
</html>